/*
******
Reset
******
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
******
Typography
******
*/

/*
******
Body
******
*/

h1 {
  font-size: 60px;
}

p {
  color: red;
  font-size: 40px;
}
